@model IEnumerable<ProyectoFinalv2.Models.MantenimientoDepartamento>

@{
    ViewBag.Title = "Index";
}

<h2>Modulo de Departamentos</h2>

<p>
    @Html.ActionLink("Crear nuevo Departamento", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.Label("Codigo del Departamento")
        </th>
        <th>
            @Html.Label("Nombre")
        </th>
        <th>
            @Html.Label("Encargado")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CodigoDepartamento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Encargado)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id }) |
       
            @Html.ActionLink("Eliminar", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
