@model ProyectoFinal.Models.SalidaEmpleado

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SalidaEmpleado</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TipoSalida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoSalida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Motivo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Motivo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaSalida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaSalida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MantenimientoEmpleado.CodigoEmpleado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MantenimientoEmpleado.CodigoEmpleado)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdSalida }) |
    @Html.ActionLink("Back to List", "Index")
</p>
